 .sidebarContent{
     display: flex;
     flex-direction: column;
     list-style: none;
 }

 .sidebarContent li{
     width: 100%;
     cursor: pointer;
     margin-top: 2px;
     padding: 8px 20px;
     transition: var(--trans);
     font-weight: bold;
     display: flex;
     align-items: center;
 }


 .sidebarContent li:hover{
     background: var(--hover);
     /* justify-content: cent */
 }


 .sidebarContent li svg{
     height: 20px;
     margin-right: 10px;
 }

