 .sidebarContent{
     display: flex;
     flex-direction: column;
     list-style: none;
 }

 .sidebarContent li{
     width: 100%;
     cursor: pointer;
     margin-top: 2px;
     padding: 8px 20px;
     transition: var(--trans);
     font-weight: bold;
 }


 .sidebarContent li:hover{
     background: var(--hover);
 }


 .sidebarContent li i{
     margin-right: 8px;
 }

